* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background: #1e2129;
  height: 100vh;
  width: 100%;
  user-select: none;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
  width: 100%;
  margin-top: 10px;
}

/* .page {
  width: 600px;
  height: 600px;
}

img {
  max-width: 100%;
  display: block;
  height: 600px;
  width: 600px;
} */

.page {
  width: 500px;
  height: 100%;
}

img {
  max-width: 100%;
  height: 100%;
}

.odd {
  border-left: dashed 1px black;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  position: relative;
  z-index: 99999;
}

.btn {
  margin-top: 10px;
  padding: 10px 14px;
  border-radius: 10px;
  color: #fff;
  background-color: #191a21;
  outline: none;
  cursor: pointer;
}

#prev-btn {
  margin-right: 10px;
}

#first-btn {
  width: 100px;
}

#next-btn {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  /* .page {
    width: 500px;
    height: 100%;
  }

  img {
    max-width: 100%;
    height: 100%;
  } */
  .page {
    width: 600px;
    height: 600px;
  }

  img {
    display: block;
    height: 600px;
    width: 600px;
  }
  .p1,
  .p2,
  .p3,
  .p4,
  .p5 {
    width: 600px !important;
    height: 600px !important;
  }
}
